color = rgba(0,0,0,0.5);

.portrait {
	content: "";
	display: block;
	position: absolute;
	width: 92%;
	height: 64%;
	z-index: 1000;
	top: 9px;
	left: 9px;
}

.befores {
	content: "";
	display: block;
	position: absolute;
	width: 92%;
	height: 64%;
	z-index: 1000;
	top: 9px;
	left: 9px;
}