stateInitial(p1, p2){
	opacity p1!important
	visibility p2!important
}

setAnimation(property){
	-webkit-animation property
	-moz-animation property
	-ms-animation property
	-o-animation property
	animation property
}

setTreed(p1) {
	-webkit-perspective p1
	-moz-perspective p1
	-ms-perspective p1
	perspective p1
}

setTransform(property){
	-webkit-transform: property;
	-moz-transform: property;
	-ms-transform: property;
	-o-transform: property;
	transform: property;
}

setOrigin(property){
	-webkit-transform-origin:property;
	-moz-transform-origin:property;
	-o-transform-origin:property;
	-ms-transform-origin:property;
	transform-origin:property;
}

setBackface(property){
	-webkit-backface-visibility: property;
	-moz-backface-visibility: property;
	-ms-backface-visibility: property;
	-o-backface-visibility: property;
	backface-visibility: property;
}