.rotate-out {
	opacity:0;
	visibility:hidden;
	setAnimation(rotateOut 1 1.5s ease-out);
}

/* ROTATE OUT */
@-webkit-keyframes rotateOut {
	0% {
		opacity: 1;	visibility: visible;
	}50%,100%{
		-webkit-transform:scale(0) rotateY(189deg);
	}
}@-moz-keyframes rotateOut {
	0% {
		opacity: 1;	visibility: visible;
	}50%,100%{
		-moz-transform:scale(0) rotateY(189deg);
	}
}@-ms-keyframes rotateOut {
	0% {
		opacity: 1;	visibility: visible;
	}50%,100%{
		-ms-transform:scale(0) rotateY(189deg);
	}
}@-o-keyframes rotateOut {
	0% {
		opacity: 1;	visibility: visible;
	}50%,100%{
		-o-transform:scale(0) rotateY(189deg);
	}
}@keyframes rotateOut {
	0% {
		opacity: 1;	visibility: visible;
	}50%,100%{
		transform:scale(0) rotateY(189deg);
	}
}