.rotate-down-bounce {
	setOrigin(0 0);
	opacity:0;
	visibility:hidden;
	setAnimation(rotateDowBounce 1 2s ease-in);
}

/* ROTATE DOW BOUNCE */
@-webkit-keyframes rotateDowBounce {
	0%{-webkit-transform: rotate(0deg); opacity: 1; visibility: visible;}
	20%{-webkit-transform: rotate(25deg); }
	40%{-webkit-transform:rotate(30deg);}
	10%,30%,50%{-webkit-transform: rotate(40deg); opacity: 1; visibility: visible;}
	80%,100%{-webkit-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0; visibility: hidden;}
}

@-moz-keyframes rotateDowBounce {
	0%{-moz-transform: rotate(0deg); opacity: 1; visibility: visible;}
	20%{-moz-transform: rotate(25deg); }
	40%{-moz-transform:rotate(30deg);}
	10%,30%,50%{-moz-transform: rotate(40deg); opacity: 1; visibility: visible;}
	80%,100%{-moz-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0; visibility: hidden;}
}

@-ms-keyframes rotateDowBounce {
	0%{-ms-transform: rotate(0deg); opacity: 1; visibility: visible;}
	20%{-ms-transform: rotate(25deg); }
	40%{-ms-transform:rotate(30deg);}
	10%,30%,50%{-ms-transform: rotate(40deg); opacity: 1; visibility: visible;}
	80%,100%{-ms-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0; visibility: hidden;}
}

@-o-keyframes rotateDowBounce {
	0%{-o-transform: rotate(0deg); opacity: 1; visibility: visible;}
	20%{-o-transform: rotate(25deg); }
	40%{-o-transform:rotate(30deg);}
	10%,30%,50%{-o-transform: rotate(40deg); opacity: 1; visibility: visible;}
	80%,100%{-o-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0; visibility: hidden;}
}
@keyframes rotateDowBounce {
	0%{transform: rotate(0deg); opacity: 1; visibility: visible;}
	20%{transform: rotate(25deg); }
	40%{transform:rotate(30deg);}
	10%,30%,50%{transform: rotate(40deg); opacity: 1; visibility: visible;}
	80%,100%{transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0; visibility: hidden;}
}
