.jump-bounce {
	stateInitial(1,visible);
	setAnimation(jumpBounce 1 1.5s ease-in);
} 

/* JUMP BOUNCE */
@-webkit-keyframes jumpBounce {
	10% {-webkit-transform:translateY(-150px);}
	20%,35%,50% {-webkit-transform:translateY(0px);}
	25% {-webkit-transform:translateY(-60px);}
	40% {-webkit-transform:translateY(-40px);}
	
}
@-moz-keyframes jumpBounce {
	10% {-moz-transform:translateY(-150px);}
	20%,35%,50% {-moz-transform:translateY(0px);}
	25% {-moz-transform:translateY(-60px);}
	40% {-moz-transform:translateY(-40px);}
	
}
@-ms-keyframes jumpBounce {
	10% {-ms-transform:translateY(-150px);}
	20%,35%,50% {-ms-transform:translateY(0px);}
	25% {-ms-transform:translateY(-60px);}
	40% {-ms-transform:translateY(-40px);}
	
}
@-o-keyframes jumpBounce {
	10% {-o-transform:translateY(-150px);}
	20%,35%,50% {-o-transform:translateY(0px);}
	25% {-o-transform:translateY(-60px);}
	40% {-o-transform:translateY(-40px);}
	
}
@keyframes jumpBounce {
	10% {transform:translateY(-150px);}
	20%,35%,50% {transform:translateY(0px);}
	25% {transform:translateY(-60px);}
	40% {transform:translateY(-40px);}
	
}