// -------------------
// Variables
// -------------------

// animations timing
// -------------------
$dance-timing: 2s;
$bounce-timing: 0.8s;
$four-rock-timing: 2s;
$scale-bounce-timing: 0.6s;
$jamp-timing: 1s;
$journal-timing: 2s;
$pulse-timing: 0.5s;
$pulse-slow-timing: 1s;
$perspective-bounce-timing: 1s;
$flip-timing: 1s;
$jump-bounce-timing: 1.5s;

// Rotate timing
$rotate-timing: 1s;
$rotate-down-bounce-timing: 2s;
$rotate-out-timing: 1.5s;

// Agreccives timing
$flash-bang-timing: 2s;
$bomb-timing: 1s;

// Agreccives timing
$flash-bang-timing: 2s;
$legend-timing: 0.5s;

// 3D perspective
// --------------------
$perspective: 600;
