// -------------------
// Variables
// -------------------

// animations timing
// -------------------
$dance-timing: 2s;
$bounce-timing: 0.8s;
$four-rock-timing: 2s;
$jamp-timing: 1s;
$journal-timing: 2s;
$pulse-timing: 0.5s;
$pulse-slow-timing: 1s;
$perspective-bounce-timing: 1s;

// 3D perspective
// --------------------
$perspective: 600;
