.jamp {
	stateInitial(1,visible);
	setAnimation(jamp 1s linear);
}

/* JAMP */
@-webkit-keyframes jamp {
	0% {
		-webkit-transform:translateY(0);
	}10%{
		-webkit-transform:translateY(-50px);
	}25%{
		-webkit-transform:translateY(-50px) scale(1.1);
	}35%{
		-webkit-transform:translateY(-50px) scale(1);
	}45%{
		-webkit-transform:translateY(-50px) scale(1.2);
	}55%{
		-webkit-transform:translateY(-50px) scale(1);
	}65%{
		-webkit-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-webkit-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-webkit-transform:translate(0,0px) scale(1);
	}100%{
		-webkit-transform:translate(0,0);

	}
}
@-moz-keyframes jamp {
	0% {
		-moz-transform:translateY(0);
	}10%{
		-moz-transform:translateY(-50px);
	}25%{
		-moz-transform:translateY(-50px) scale(1.1);
	}35%{
		-moz-transform:translateY(-50px) scale(1);
	}45%{
		-moz-transform:translateY(-50px) scale(1.2);
	}55%{
		-moz-transform:translateY(-50px) scale(1);
	}65%{
		-moz-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-moz-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-moz-transform:translate(0,0px) scale(1);
	}100%{
		-moz-transform:translate(0,0);

	}
}
@-ms-keyframes jamp {
	0% {
		-ms-transform:translateY(0);
	}10%{
		-ms-transform:translateY(-50px);
	}25%{
		-ms-transform:translateY(-50px) scale(1.1);
	}35%{
		-ms-transform:translateY(-50px) scale(1);
	}45%{
		-ms-transform:translateY(-50px) scale(1.2);
	}55%{
		-ms-transform:translateY(-50px) scale(1);
	}65%{
		-ms-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-ms-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-ms-transform:translate(0,0px) scale(1);
	}100%{
		-ms-transform:translate(0,0);

	}
}
@-o-keyframes jamp {
	0% {
		-o-transform:translateY(0);
	}10%{
		-o-transform:translateY(-50px);
	}25%{
		-o-transform:translateY(-50px) scale(1.1);
	}35%{
		-o-transform:translateY(-50px) scale(1);
	}45%{
		-o-transform:translateY(-50px) scale(1.2);
	}55%{
		-o-transform:translateY(-50px) scale(1);
	}65%{
		-o-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-o-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-o-transform:translate(0,0px) scale(1);
	}100%{
		-o-transform:translate(0,0);

	}
}
@keyframes jamp {
	0% {
		transform:translateY(0);
	}10%{
		transform:translateY(-50px);
	}25%{
		transform:translateY(-50px) scale(1.1);
	}35%{
		transform:translateY(-50px) scale(1);
	}45%{
		transform:translateY(-50px) scale(1.2);
	}55%{
		transform:translateY(-50px) scale(1);
	}65%{
		transform:translate(150px,-50px) scale(0.8);
	}85%{
		transform:translate(150px,-50px) scale(1.2);
	}95%{
		transform:translate(0,0px) scale(1);
	}100%{
		transform:translate(0,0);

	}
}

