.journal {
	setAnimation(journal 1 2s ease-in);
	stateInitial(1,visible);
}

/* JOURNAL */
@-webkit-keyframes journal {
	0%{-webkit-transform: scale(0) rotate(-360deg);}
	80% {-webkit-transform: scale(0.5) rotate(-180deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}
@-moz-keyframes journal {
	0%{-moz-transform: scale(0) rotate(-360deg);}
	80% {-moz-transform: scale(0.5) rotate(-180deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}
@-ms-keyframes journal {
	0%{-ms-transform: scale(0) rotate(-360deg);}
	80% {-ms-transform: scale(0.5) rotate(-180deg);}
	100% {-ms-transform: scale(1) rotate(0);}
}
@-o-keyframes journal {
	0%{-o-transform: scale(0) rotate(-360deg);}
	80% {-o-transform: scale(0.5) rotate(-180deg);}
	100% {-o-transform: scale(1) rotate(0);}
}@keyframes journal {
	0%{transform: scale(0) rotate(-360deg);}
	80% {transform: scale(0.5) rotate(-180deg);}
	100% {transform: scale(1) rotate(0);}
}