.pulse {
	setAnimation(pulse infinite alternate linear 0.5s forwards);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
    opacity: 1;
    visibility visible;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1.05);
    opacity: 1;
    visibility visible;
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1.05);
    opacity: 1;
    visibility visible;
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1.05);
    opacity: 1;
    visibility visible;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
    opacity: 1;
    visibility visible;
  }
}


