.a-rotate-out {
  @include keyframes(rotateOut) {
    0% {
      opacity: 1;
      visibility: visible;
    }

    50%,
    100% {
      transform: scale(0) rotateY(189deg);
    }
  }

  @include hide();
  @include animate(rotateOut $rotate-out-timing ease-in 1);
}
