@import "mixins/functions"
@import "mixins/perspective"
@import "mixins/defaults"

/***** Especials ******/ 
@import "animations/especials/dance"
@import "animations/especials/journal"
@import "animations/especials/pulse"
@import "animations/especials/pulse-slow"
@import "animations/especials/jamp"
@import "animations/especials/four-rock"

/***** Bounce ******/
@import "animations/bounce/enter-up-bounce"
@import "animations/bounce/enter-down-bounce"
@import "animations/bounce/enter-left-bounce"
@import "animations/bounce/enter-right-bounce"
@import "animations/bounce/scale-bounce"
@import "animations/bounce/jump-bounce"

/***** Perspective ******/
@import "animations/perspective/tree-flip"
@import "animations/perspective/tree-flip-right"
@import "animations/perspective/tree-flip-up"
@import "animations/perspective/tree-flip-down"
@import "animations/perspective/flip-left-bounce"
@import "animations/perspective/flip-right-bounce"
@import "animations/perspective/rotate-flip"

/***** Fadding Entrances ******/
@import "animations/fadding-entrances/flip-left"
@import "animations/fadding-entrances/flip-right"
@import "animations/fadding-entrances/flip-top"
@import "animations/fadding-entrances/flip-bottom"

/***** Rotate ******/
@import "animations/rotate/rotate-flip-down"
@import "animations/rotate/rotate-down-bounce"
@import "animations/rotate/rotate-out"

/***** Agreccives ******/
@import "animations/agreccives/flash-bang"
@import "animations/agreccives/bomba"

/***** Legends ******/
@import "animations/legend/legend-down"
@import "animations/legend/legend-up"
@import "animations/legend/legend-left"
@import "animations/legend/legend-right"
@import "animations/legend/legend-flip"

/***** Portrait ******/
@import "animations/portrait/portrait-before" 
@import "animations/portrait/portrait-blur" 
@import "animations/portrait/scale-before"

/***** Infinites ******/
@import "animations/infinites/rotate-row"

/********************* Components ***********************/
.all-animation {
	label {
		display: block;
	}
	ul {
		width: 100%;
	}
	ul,li {
		list-style: none;
	}
	input[type="checkbox"],input[type="radio"] {
		display: none;
	}

	@import "components/checkbox";
	@import "components/tab-panel";
	@import "components/menu-box";
	@import "components/acordeon";
} 