.flash-bang {
	setAnimation(flashBang 1 2s linear forwards);
}

/* FLASH BANG */
@-webkit-keyframes flashBang {
	0%,20%{
		opacity: 0;
		visibility: hidden;
	}
	10%,30%,100%{
		opacity: 1;
		visibility: visible;
	}
}
@-moz-keyframes flashBang {
	0%,20%{
		opacity: 0;
		visibility: hidden;
	}
	10%,30%,100%{
		opacity: 1;
		visibility: visible;
	}
}
@-ms-keyframes flashBang {
	0%,20%{
		opacity: 0;
		visibility: hidden;
	}
	10%,30%,100%{
		opacity: 1;
		visibility: visible;
	}
}
@-o-keyframes flashBang {
	0%,20%{
		opacity: 0;
		visibility: hidden;
	}
	10%,30%,100%{
		opacity: 1;
		visibility: visible;
	}
}
@keyframes flashBang {
	0%,20%{
		opacity: 0;
		visibility: hidden;
	}
	10%,30%,100%{
		opacity: 1;
		visibility: visible;
	}
}