&.load {
	color:#fff; font-size:26px; position:relative; display: block;@include transition(all ease-out 0.3s);

	&:before {content:attr(data-text); @include transition(all ease-out 0.3s); @include posicao(0,0); width: 0; overflow: hidden; color: #F7F816;}
	&:hover {text-decoration:none; color: #ccc;
		&:before {width:100%;}
	}
}