.flip-bottom {
	setAnimation(flipBottom 1 1s ease-out);
	stateInitial(1,visible);
}

/* FLIP BOTTOM */
@-webkit-keyframes flipBottom {
	0%{transform: translateY(100px);opacity: 0;}
	70%{transform: translateY(30px);opacity: 1;}
	100%{transform: translateY(0);}
}
@-moz-keyframes flipBottom {
	0%{transform: translateY(100px);opacity: 0;}
	70%{transform: translateY(30px);opacity: 1;}
	100%{transform: translateY(0);}
}
@-ms-keyframes flipBottom {
	0%{transform: translateY(100px);opacity: 0;}
	70%{transform: translateY(30px);opacity: 1;}
	100%{transform: translateY(0);}
}
@-o-keyframes flipBottom {
	0%{transform: translateY(100px);opacity: 0;}
	70%{transform: translateY(30px);opacity: 1;}
	100%{transform: translateY(0);}
}
@keyframes flipBottom {
	0%{transform: translateY(100px);opacity: 0;}
	70%{transform: translateY(30px);opacity: 1;}
	100%{transform: translateY(0);}
}