.flip-top {
	setAnimation(flipTop 1 1s ease-out);
	stateInitial(1,visible);
}

/* FLIP TOP */
@-webkit-keyframes flipTop {
	0%{-webkit-transform: translateY(-100px);opacity: 0;}
	70%{-webkit-transform: translateY(0);opacity: 1;}
}
@-moz-keyframes flipTop {
	0%{-moz-transform: translateY(-100px);opacity: 0;}
	70%{-moz-transform: translateY(0);opacity: 1;}
}
@-ms-keyframes flipTop {
	0%{-ms-transform: translateY(-100px);opacity: 0;}
	70%{-ms-transform: translateY(0);opacity: 1;}
}
@-o-keyframes flipTop {
	0%{-o-transform: translateY(-100px);opacity: 0;}
	70%{-o-transform: translateY(0);opacity: 1;}
}
@keyframes flipTop {
	0%{transform: translateY(-100px);opacity: 0;}
	70%{transform: translateY(0);opacity: 1;}
}