.rotate-row {
	opacity: 1!important;
	setAnimation(rotateRow infinite alternate 3s linear);
}

/* ROTATE ROW */
@-webkit-keyframes rotateRow {
	0%,10%{-webkit-transform: translateY(0);}
	5%{-webkit-transform: translateY(-20px);}
	100% {-webkit-transform:rotate(20000deg) translateY(0px);}
}
@-moz-keyframes rotateRow {
	0%,10%{-moz-transform: translateY(0);}
	5%{-moz-transform: translateY(-20px);}
	100% {-moz-transform:rotate(20000deg) translateY(0px);}
}
@-ms-keyframes rotateRow {
	0%,10%{-ms-transform: translateY(0);}
	5%{-ms-transform: translateY(-20px);}
	100% {-ms-transform:rotate(20000deg) translateY(0px);}
}
@-o-keyframes rotateRow {
	0%,10%{-ms-transform: translateY(0);}
	5%{-ms-transform: translateY(-20px);}
	100% {-o-transform:rotate(20000deg) translateY(0px);}
}@-keyframes rotateRow {
	0%,10%{transform: translateY(0);}
	5%{transform: translateY(-20px);}
	100% {transform:rotate(20000deg) translateY(0px);}
}