.four-rock {
	stateInitial(1,visible);
	setAnimation(fourRock 1 2s ease-out);
}

/* FOUR ROCK */
@-webkit-keyframes fourRock {
	0% {-webkit-transform-origin: 0 0;}
	5%{-webkit-transform: scale(0.5);}
	10% {-webkit-transform: scale(0.5)}
	15% {-webkit-transform: scale(0.5) translateX(130px);}
	20% {-webkit-transform: scale(0.5) translateX(130px);}
	25% {-webkit-transform: scale(0.5) translate(130px,130px);}
	30% {-webkit-transform: scale(0.5) translate(0px,130px);}
	35% {-webkit-transform: scale(0.5) translate(0px,0px);}
	40% {-webkit-transform: scale(1);}
	100%{-webkit-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@-moz-keyframes fourRock {
	0% {-moz-transform-origin: 0 0;}
	5%{-moz-transform: scale(0.5);}
	10% {-moz-transform: scale(0.5)}
	15% {-moz-transform: scale(0.5) translateX(130px);}
	20% {-moz-transform: scale(0.5) translateX(130px);}
	25% {-moz-transform: scale(0.5) translate(130px,130px);}
	30% {-moz-transform: scale(0.5) translate(0px,130px);}
	35% {-moz-transform: scale(0.5) translate(0px,0px);}
	40% {-moz-transform: scale(1);}
	100%{-moz-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@-ms-keyframes fourRock {
	0% {-ms-transform-origin: 0 0;}
	5%{-ms-transform: scale(0.5);}
	10% {-ms-transform: scale(0.5)}
	15% {-ms-transform: scale(0.5) translateX(130px);}
	20% {-ms-transform: scale(0.5) translateX(130px);}
	25% {-ms-transform: scale(0.5) translate(130px,130px);}
	30% {-ms-transform: scale(0.5) translate(0px,130px);}
	35% {-ms-transform: scale(0.5) translate(0px,0px);}
	40% {-ms-transform: scale(1);}
	100%{-ms-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@-o-keyframes fourRock {
	0% {-o-transform-origin: 0 0;}
	5%{-o-transform: scale(0.5);}
	10% {-o-transform: scale(0.5)}
	15% {-o-transform: scale(0.5) translateX(130px);}
	20% {-o-transform: scale(0.5) translateX(130px);}
	25% {-o-transform: scale(0.5) translate(130px,130px);}
	30% {-o-transform: scale(0.5) translate(0px,130px);}
	35% {-o-transform: scale(0.5) translate(0px,0px);}
	40% {-o-transform: scale(1);}
	100%{-o-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@keyframes fourRock {
	0% {transform-origin: 0 0;}
	5%{transform: scale(0.5);}
	10% {transform: scale(0.5)}
	15% {transform: scale(0.5) translateX(130px);}
	20% {transform: scale(0.5) translateX(130px);}
	25% {transform: scale(0.5) translate(130px,130px);}
	30% {transform: scale(0.5) translate(0px,130px);}
	35% {transform: scale(0.5) translate(0px,0px);}
	40% {transform: scale(1);}
	100%{transform: scale(1);-webkit-transform-origin: 0 0;}
	
}