.a-scale-bounce {
  @include keyframes(scaleBounce) {
    0% {
      transform: scale(1.5);
      opacity: 0;
    }

    50% {
      transform: scale(1);
    }

    70% {
      transform: scale(1.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include show();
  @include animate(scaleBounce 0.6s ease-in-out);
}
