.a-vibrate-low {
  @include keyframes(VibrateL) {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, 2px);
    }

    80% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0);
    }
  }

  @include show();
  @include animate(VibrateL 2s ease 0s infinite normal forwards);
}
