.bomba {
	opacity:0;
	visibility:hidden;
	setAnimation(bomba 1 1s ease-out);
}

/* BOMBA */
@-webkit-keyframes bomba {
	0% {-webkit-transform-origin: -50% 0%;-webkit-transform: rotateZ(0); opacity: 1; visibility: visible;}
	50%,100%{-webkit-transform: rotateZ(-210deg);-webkit-transform-origin: -20% 0%; }
	47%,100%{opacity: 0; visibility: hidden;}
}
@-moz-keyframes bomba {
	0% {-moz-transform-origin: -50% 0%;-moz-transform: rotateZ(0); opacity: 1; visibility: visible;}
	50%,100%{-moz-transform: rotateZ(-210deg);-moz-transform-origin: -20% 0%; }
	47%,100%{opacity: 0; visibility: hidden;}
}
@-o-keyframes bomba {
	0% {-o-transform-origin: -50% 0%;-o-transform: rotateZ(0); opacity: 1; visibility: visible;}
	50%,100%{-o-transform: rotateZ(-210deg);-o-transform-origin: -20% 0%; }
	47%,100%{opacity: 0; visibility: hidden;}
}
@-ms-keyframes bomba {
	0% {-ms-transform-origin: -50% 0%;-ms-transform: rotateZ(0); opacity: 1; visibility: visible;}
	50%,100%{-ms-transform: rotateZ(-210deg);-ms-transform-origin: -20% 0%; }
	47%,100%{opacity: 0; visibility: hidden;}
}
@keyframes bomba {
	0% {transform-origin: -50% 0%;transform: rotateZ(0); opacity: 1; visibility: visible;}
	50%,100%{transform: rotateZ(-210deg);transform-origin: -20% 0%; }
	47%,100%{opacity: 0; visibility: hidden;}
}