.flash-bang {
	opacity:1;
	visibility:visible;
	setAnimation(flashBang 1 2s linear);
}

/* FLASH BANG */
@-webkit-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@-moz-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@-ms-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@-o-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}