.enter-right-bounce {
	setAnimation(enterRightBounce .6s ease-in forwards);
}


/* ENTER DOWN BOUNCE */
@-webkit-keyframes enterRightBounce {
	0% {
		-webkit-transform:translateX(80px);
		opacity: 0;
		visibility hidden;
	}
	50%{
		-webkit-transform:translateX(0px);
	}
	70%{
		-webkit-transform:translateX(10px);
	}
	100%{
		-webkit-transform:translateX(0);
		opacity: 1;
		visibility: visible
	}
}
@-moz-keyframes enterRightBounce {
	0% {
		-moz-transform:translateX(80px);
		opacity: 0;
		visibility hidden;
	}
	50%{
		-moz-transform:translateX(0px);
	}
	70%{
		-moz-transform:translateX(10px);
	}
	100%{
		-moz-transform:translateX(0);
		opacity: 1;
		visibility: visible
	}
}
@-ms-keyframes enterRightBounce {
	0% {
		-ms-transform:translateX(80px);
		opacity: 0;
		visibility hidden;
	}50% {
		-ms-transform:translateX(0px);
	}
	70% {
		-ms-transform:translateX(10px);
	}
	100% {
		-ms-transform:translateX(0);
		opacity: 1;
		visibility: visible
	}
}
@-o-keyframes enterRightBounce {
	0% {
		-o-transform:translateX(80px);
		opacity: 0;
		visibility hidden;
	}
	50%{
		-o-transform:translateX(0px);
	}
	70%{
		-o-transform:translateX(10px);
	}
	100%{
		-o-transform:translateX(0);
		opacity: 1;
		visibility: visible
	}
}
@keyframes enterRightBounce {
	0% {
		transform:translateX(80px);
		opacity: 0;
		visibility hidden;
	}
	50%{
		transform:translateX(0px);
	}
	70%{
		transform:translateX(10px);
	}
	100%{
		transform:translateX(0);
		opacity: 1;
		visibility: visible
	}
}
