.enter-double-up-bounce {
  setAnimation(enterDoubleUpBounce 1s ease-in forwards);
}


/* ENTER DOWN BOUNCE */
@-webkit-keyframes enterDoubleUpBounce {
  0% {
    -webkit-transform: translateY(-80px);
    opacity: 0;
    visibility hidden;
  }
  30%{
    -webkit-transform:translateY(0);
  }
  40%{
    -webkit-transform:translateY(-15px);
  }
  50%{
    -webkit-transform:translateY(0);
  }
  60%{
    -webkit-transform:translateY(-5px);
  }
  70%,100%{
    -webkit-transform:translateY(0);
    opacity: 1;
    visibility: visible
  }
}
@-moz-keyframes enterDoubleUpBounce {
  0% {
    -moz-transform: translateY(-80px);
    opacity: 0;
    visibility hidden;
  }
  30%{
    -moz-transform:translateY(0);
  }
  40%{
    -moz-transform:translateY(-15px);
  }
  50%{
    -moz-transform:translateY(0);
  }
  60%{
    -moz-transform:translateY(-5px);
  }
  70%,100%{
    -moz-transform:translateY(0);
    opacity: 1;
    visibility: visible
  }
}
@-ms-keyframes enterDoubleUpBounce {
  0% {
    -ms-transform: translateY(-80px);
    opacity: 0;
    visibility hidden;
  }
  30%{
    -ms-transform:translateY(0);
  }
  40%{
    -ms-transform:translateY(-15px);
  }
  50%{
    -ms-transform:translateY(0);
  }
  60%{
    -ms-transform:translateY(-5px);
  }
  70%,100%{
    -ms-transform:translateY(0);
    opacity: 1;
    visibility: visible
  }
}
@-o-keyframes enterDoubleUpBounce {
  0% {
    -o-transform: translateY(-80px);
    opacity: 0;
    visibility hidden;
  }
  30%{
    -o-transform:translateY(0);
  }
  40%{
    -o-transform:translateY(-15px);
  }
  50%{
    -o-transform:translateY(0);
  }
  60%{
    -o-transform:translateY(-5px);
  }
  70%,100%{
    -o-transform:translateY(0);
    opacity: 1;
    visibility: visible
  }
}
@keyframes enterDoubleUpBounce {
  0% {
    transform: translateY(-80px);
    opacity: 0;
    visibility hidden;
  }
  30%{
    transform:translateY(0);
  }
  40%{
    transform:translateY(-15px);
  }
  50%{
    transform:translateY(0);
  }
  60%{
    transform:translateY(-5px);
  }
  70%,100%{
    transform:translateY(0);
    opacity: 1;
    visibility: visible
  }
}
