color = rgba(0,0,0,0.5);
color-bg = #F3F3F3;
color-info = #FF9900; 
color-on = rgb(70, 217, 70);
color-box = #1D9B72;
color-cancel = rgb(210, 20, 20);
radius = 5px;
pd = 5px;

.portrait {
	content: "";
	display: block;
	position: absolute;
	width: 92%;
	height: 64%;
	z-index: 1000;
	top: 9px;
	left: 9px;
}

.befores {
	content: "";
	display: block;
	position: absolute;
	width: 92%;
	height: 64%;
	z-index: 1000;
	top: 9px;
	left: 9px;
}

.all-animation, .all-animation * {margin:0; padding:0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}