transition(propiedade){
	-webkit-transition: propiedade;
	-moz-transition: propiedade;
	-ms-transition: propiedade;
	-o-transition: propiedade;
	transition: propiedade;
}

transitionTimeDelay(duration,delay){
	-webkit-transition-duration: duration;
	-moz-transition-duration: duration;
	-ms-transition-duration: duration;
	-o-transition-duration: duration;
	transition-duration: duration;
	-webkit-transition-delay: delay;
	-moz-transition-delay: delay;
	-ms-transition-delay: delay;
	-o-transition-delay: delay;
	transition-delay: delay;
}

transformTest(propiedade){
	-webkit-transform: propiedade;
	-moz-transform: propiedade;
	-ms-transform: propiedade;
	-o-transform: propiedade;
	transform: propiedade;
}

transformOrigin(propiedade){
	-webkit-transform-origin: propiedade;
	-moz-transform-origin: propiedade;
	-ms-transform-origin: propiedade;
	-o-transform-origin: propiedade;
	transform-origin: propiedade;
}

colorCheckbox(){
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fff 0%, #dfe5d7 40%, #fff 100%);
	background: -moz-linear-gradient(top, #fff 0%, #dfe5d7 40%, #fff 100%);
	background: -ms-linear-gradient(top, #fff 0%, #dfe5d7 40%, #fff 100%);
	background: -o-linear-gradient(top, #fff 0%, #dfe5d7 40%, #fff 100%);
	background: linear-gradient(top, #fff 0%, #dfe5d7 40%, #fff 100%);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

absolute(top, left){
	position: absolute;
	left: left;
	top: top;
}

stateInitial(p1, p2){
	opacity p1!important
	visibility p2!important
}

setAnimation(property){
	-webkit-animation property
	-moz-animation property
	-ms-animation property
	-o-animation property
	animation property
}

setTreed(p1) {
	-webkit-perspective p1
	-moz-perspective p1
	-ms-perspective p1
	perspective p1
}

setTransform(property){
	-webkit-transform: property;
	-moz-transform: property;
	-ms-transform: property;
	-o-transform: property;
	transform: property;
}

setOrigin(property){
	-webkit-transform-origin:property;
	-moz-transform-origin:property;
	-o-transform-origin:property;
	-ms-transform-origin:property;
	transform-origin:property;
}

setBackface(property){
	-webkit-backface-visibility: property;
	-moz-backface-visibility: property;
	-ms-backface-visibility: property;
	-o-backface-visibility: property;
	backface-visibility: property;
}